body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.6;
  color: wheat;
}

*,*:before,*:after{
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.header__logo{
  font-size: 30px;
  font-weight: 700;
  color: #fce38a;
}
.header{
  position: relative;
  padding-top: 30px;
  width: 100%;
  top:0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro{
  position: relative;
  width: 100%;
  height: 100vh;
  width: 100%;
  height: 100vh;
}
.nav{
  display: flex;
  align-items:center;
  justify-content: space-between;
  height:100%;
  text-transform: uppercase;
  font-size: 14px;
}
.navlink{
  display:flex;
  padding: 0 20px;
  text-decoration: none;
  transition: color .2s linear;
}
.navlink:hover{
  color: #fce38a;
  transform: scale(1.5); /* Increase the size of the link on hover */
  transition: color 0.2s linear, transform 0.2s linear; /* Add transform to the transition */
}
.searchdiv{
  display: flex;
  justify-content: center;
  text-align: center;
}
.searchbar{
  width:100%;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  border-color: #43cea2;
}
.searchbutton{
  background:none;
  border:0;
}
.searchbutton:hover{
  color:#43cea2;
}
.searchbutton:active{
  transform: scale(1.2);
  transition: 0.2s transform ease-in-out, ;  
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; /* Place it behind the content */
}
.dark-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; /* Place it behind the content and the background image */
}
ul{
  list-style-type: none;
  padding:0;
}

